extends layout.pug
//- Declares the file is extending from layout dot pug 
//- block content tells the template to injext the content in the content block 
block content
  section#content
    p  
      a(href='/cards') Begin!
