extends app.pug
//- Declares the file is extending from layout dot pug 
//- block content tells the template to injext the content in the content block 
block intro  
  h1.namecard-prompt Let's get started
  a.namecard-submit(href='/cards') Begin!
