doctype html
html(lang="en")
  head
    title Flash Cards
  body
    //- use include keyword then the path to the file
    include includes/header.pug
    if name
      h2 Welcome, #{name}!
      form(action="/goodbye" method="post")
        button(type="submit") Goodbye
    block content    
    include includes/footer.pug  
